@import 'base';

header{
	/*border-bottom: 1px solid $border_clr;*/
	background-color: #c72e45;
	justify-content: center;
}
.header__wrapper{ justify-content: space-between; width: 90%; }
.logo{ 
	padding: 15px 0;
	background:url("{{ env('APP_URL') }}/assets/linxer.png") no-repeat;
	background-size:contain;
}
.logo__text{margin: 0;}
.signin a{ padding:15px 0; margin-left: 10px;}
.signin a,.signin p{ display: inline-block; }
.cta{
	background-color: $body_bg;
	align-items: center;
	justify-content: space-around;
}
.cta-img{ width: 40%; height: 500px;}
.signin-btn{ 
	border-radius: 10px;
	border: 1px solid;
	padding: 11px 25px;
	background-color: transparent;
}
.cta-btn:hover,.signin-btn:hover{background-color: #c72e45 *.9;}
.cta-btn:hover span,.signin-btn:hover  span{color: $text_clr *.9;}
.signin-btn > span{font-size: 16px;}
.cta-btn{
	padding: 15px;
    border-radius: 10px;
    border-style: none;
    background: #c72e45;
}
.cta-btn > span{font-size: 28px; }
.cta-caption > h1 {font-size: 32px;}
footer{
	border-top: 1px solid $border_clr;
	justify-content: center;
}
.screenshot-list{
	width: 100%;
	justify-content: space-around;
}

.screenshot-list__item{
	width: 30%;
	height: 350px;
	background-color: #fff;
}
