body {
	background-image: linear-gradient(to bottom right, #973999, #f8598b, #f7bf00) !important;
	min-height: 655px;
}
.header-container, .links-row, item-info {
	display: flex;
}
header {
	justify-content: center;
	background-color: #e2e2e2;
	height: 50px;
}
.header-container{
	justify-content: space-between;
    align-items: center;
	
	.team-name {
		font-size: 25px;
    	color: blueviolet;
		width: 70%;
		line-height: 40px;
	}
}
.welcome-note {
	margin-top: 30px;
	
	h4 {
		margin-top: 0;
	}
}
.links {
//	background: url("{{ env('APP_URL') }}/img/background-pattern.png") repeat;
//	background-image: linear-gradient(to top right, #f83737, #fa9241);
//	color: #ffffff;
}
.links-row {
	justify-content: space-around;
	padding: 30px;

	.links-row__item {
		width: 24%;
		float: left;
		padding: 10px 15px;
		background-color: #f5f5f5;;
		margin-right: 1%;
		border-radius: 2px;
		
		&:hover {
			cursor: pointer;
			box-shadow: 4px 5px 16px 3px #696A84;
		}
		&:last-child {
			margin-right: 0;
		}
		
		.item-source p{
			span:first-child {
				margin-right: 5px;
				
//				&:after {
////					content: "\f0da";
//					font-size: 14px;
//					color: #ffffff;
//						
//				}
			}
		}
		.item-details {
			.item-title {
				a {
					font-size: 15px;
					font-weight: 700;
					font-variant: small-caps;
				}
				
				.item-highlight__attached{
					span {
						font-size: 15px;
					}
				}
			}
			.item-highlight__details {
				background-color: rgba(238, 238, 238, 0.92);
			}
		}
		.item-info {
			display: flex;
			margin-top: 15px;
			justify-content: space-between;
			
			.item-info__name {
				p {
					font-family: monospace;
					
					span {
						font-weight: 700;
					}
				}
			}
		}
	}
}
