@import 'base';


body {
	background-image: linear-gradient(to top right, #307ea2, #31708f,#00c7ff) !important;
	min-height: 655px;
}




.flip3D
{
	width:240px;
	height:200px;
	margin: 10px;
	float: left;
}

.flip3D > .front
{
		position:absolute;
	 -webkit-transform: perspective( 600px ) rotateY( 0deg );
		transform: perspective( 600px ) rotateY( 0deg );
		background:#FF0000; width:240px; height:200px; border-radius: 7px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: -webkit-transform .5s linear 0s;
		transition: transform .5s linear 0s;
}

.flip3D > .back
{
 position:absolute;
 -webkit-transform: perspective( 600px ) rotateY( 180deg );
 transform: perspective( 600px ) rotateY( 180deg );
 background: #0000FF; width:240px; height:200px; border-radius: 7px;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 transition: -webkit-transform .5s linear 0s;
transition: transform .5s linear 0s;
}

.flip3D:hover > .front
{
-webkit-transform: perspective( 600px ) rotateY( -180deg );
transform: perspective( 600px ) rotateY( -180deg );
}

.flip3D:hover > .back
{
 -webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
}

header {
	background-color: #c72e45;
	justify-content: center;

}

.header__wrapper{ justify-content: space-between; width: 90%; }
.logo{
	padding: 15px 0;
  background: url("https://linxer.herokuapp.com/assets/linxer.png") no-repeat;
	background-size:contain;
}
.logo__text{margin: 0;}
.signin a{ padding:15px 0; margin-left: 10px;}
.signin a,.signin p{ display: inline-block; }

.signin-btn{
	border-radius: 10px;
	border: 1px solid;
	padding: 11px 25px;
	background-color: transparent;
	cursor: pointer;
}
/*

	.search-box {
		input[type="search"] {
			padding: 10px 48px 10px 12px;
			background-color: gainsboro;
			border: 1px solid rgba(204, 204, 204, 0.85);

			&:active, &:focus{
				background-color: #ffffff;
				box-shadow: 1px 1px 15px 3px #808080;
				outline: none;
				border-radius: 4px;
			}

		}
	}
}
.welcome-note {
	margin-top: 30px;

	h4 {
		margin-top: 0;
	}
}
.links {
//	background: url("{{ env('APP_URL') }}/img/background-pattern.png") repeat;
//	background-image: linear-gradient(to top right, #f83737, #fa9241);
//	color: #ffffff;
}
.links-row {
	justify-content: space-around;
	padding: 30px;

	.links-row__item {
		width: 24%;
		float: left;
		padding: 10px 15px;
		background-color: #f5f5f5;;
		margin-right: 1%;
		border-radius: 2px;

		&:hover {
			cursor: pointer;
			box-shadow: 4px 5px 16px 3px #696A84;
		}
		&:last-child {
			margin-right: 0;
		}

		.item-source p{
			span:first-child {
				margin-right: 5px;

//				&:after {
////					content: "\f0da";
//					font-size: 14px;
//					color: #ffffff;
//
//				}
			}
		}
		.item-details {
			.item-title {
				a {
					font-size: 15px;
					font-weight: 700;
					font-variant: small-caps;
				}

				.item-highlight__attached{
					span {
						font-size: 15px;
					}
				}
			}
			.item-highlight__details {
				background-color: rgba(238, 238, 238, 0.92);
				padding: 5px 7px;
    			border-left: 1px solid #a6a6ef;
			}
		}
		.item-info {
			display: flex;
			margin-top: 15px;
			justify-content: space-between;

			.item-info__name {
				p {
					font-family: monospace;

					span {
						font-weight: 700;
					}
				}
			}
		}
	}
}
*/
